body {
  background-color: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e687f7;
}

h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #e687f7;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.avatar-container {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
  transition: transform 0.3s, box-shadow 0.3s;
}

.avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #a64bf4;
}

.avatar-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #a64bf4;
}
